* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* html {
  height: 100%;
  width: 100%;
}
* a,
* button {
  cursor: pointer;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 0.1fr;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  min-height: 100vh;
}
body header {
  grid-area: header;
  background-color: #245ba3;
}
body main {
  grid-area: main;
  background-color: #e5eaef;
}
body footer {
  grid-area: footer;
  background-color: #245ba3;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}
.navbar__branding {
  display: flex;
  align-items: center;
}
.navbar__branding-img {
  height: auto;
  max-width: 100px;
}

.navbar__list {
  display: flex;
  list-style: none;
  align-items: center;
  font-size: 1.5rem;
}
.navbar__list .navbar__item {
  margin: 20px;
}
.navbar__list .navbar__link-img {
  height: auto;
  width: 25px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3 ease-in-out;
  background-color: #eeeeee;
}

@media screen and (max-width: 789px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navbar__list {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--dark);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .navbar__item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
}
.main__profile {
  background-color: #7194c1;
  margin: 20px 10% 20px;
  color: white;
  position: relative;
}
.main__profile ul {
  list-style-type: none;
  color: white;
}
.main__profile li {
  list-style-type: none;
  color: white;
}
.main__profile .profile__banner {
  color: white;
  border: 1px solid gray;
}
.main__profile .profile__avatar {
  color: white;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  display: block;
}
.main__profile #avatar__img {
  position: absolute;
  height: 120px;
  width: 120px;
}
.main__profile .profile__info {
  color: white;
}
.main__profile .profile__list {
  list-style-type: none;
}
.main__profile .profile__edit {
  color: white;
}
.main__profile .profile__followers {
  width: 100%;
  border: 1px solid gray;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.main__profile .profile__info {
  color: white;
}
.main__profile .profile__list {
  color: white;
}
.main__profile .profile__edit {
  color: white;
}
.main__profile .profile__follow {
  color: white;
}
.main__profile .profile__follow a {
  text-decoration: none;
  color: white;
}
.main__profile .profile__follow a:hover {
  color: black;
}
.main__profile .profile__feed {
  border: 1px solid gray;
}
.main__profile .profile__feed input {
  width: 60%;
  height: 100px;
}
.main__profile #small {
  height: 50px;
  width: 50px;
}
.main__profile .profile__avatar .post {
  height: 50px;
  width: 50px;
}
.main__profile .avatar__img .small {
  height: 50px;
  width: 50px;
}
.main__profile .feed__post {
  color: white;
  border: 1px solid gray;
  margin: 10px 0;
}
.main__profile .feed__post > div {
  margin: 10px 0 10px 30px;
}
.main__profile .feed__like {
  background-color: transparent;
  border: none;
  width: 10px;
  height: 10px;
}
.main__profile .feed__like img:hover {
  color: white;
}
.main__profile .feed__post__msg {
  color: white;
}
.main__profile .feed__post__action {
  color: white;
}
.main__profile .feed__post__reaction {
  color: white;
}
.main__profile .feed__post__comment {
  color: white;
}
.main__profile .comment__btn {
  border: none;
  border-radius: 5px;
  height: 20px;
  width: 60px;
}
.main__profile .comment__btn:hover {
  background-color: transparent;
}/*# sourceMappingURL=styles.css.map */