* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* html {
  height: 100%;
  width: 100%;
}
* a,
* button {
  cursor: pointer;
  text-decoration: none;
}
* li {
  list-style-type: none;
  text-decoration: none;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 0.1fr;
  justify-content: center;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  min-height: 100vh;
  background-color: #f7f7f7;
}
body header {
  grid-area: header;
  background-color: #002e6b;
}
body main {
  align-self: center;
  grid-area: main;
}
body footer {
  grid-area: footer;
  background-color: #002e6b;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px;
}
.navbar__branding {
  display: flex;
  align-items: center;
}
.navbar__branding-img {
  height: auto;
  max-width: 100px;
}
.navbar h1 {
  color: #e5eaef;
}

.navbar__list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 1.4rem;
}
.navbar__list .navbar__item {
  color: #eeeeee;
  display: flex;
  margin: 0 10px;
}
.navbar__list a {
  text-decoration: none;
  color: inherit;
}
.navbar__list i {
  color: #e5eaef;
  margin: 0 5px;
  height: auto;
  width: 25px;
}

.navbar__searchbar {
  width: 100%;
  height: 40px;
  max-width: 400px;
  display: inline-flex;
}
.navbar__searchbar-input {
  flex-grow: 1;
  padding: 15px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px 0 0 5px;
}
.navbar__searchbar-input::placeholder {
  color: rgb(57, 57, 212);
}
.navbar__searchbar-btn {
  outline: none;
  width: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.navbar__searchbar-btn i {
  color: #002e6b;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3 ease-in-out;
  background-color: #eeeeee;
}

@media screen and (max-width: 789px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navbar__list {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .navbar__item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
}
.home__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post__message {
  background-color: #7194c1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 20px;
  border-radius: 60px 10px 10px 10px;
}
.post__message div {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
}
.post__message .avatar {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: white;
}

.status__update {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 70%;
}
.status__update textarea {
  height: 80px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  resize: none;
  width: 100%;
}
.status__update .status__btn {
  width: 30px;
  align-self: flex-end;
  height: 30px;
  width: 150px;
  color: #e5eaef;
  background-color: #002e6b;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
}

.main__profile {
  margin: 20px 10% 20px;
  color: white;
  display: grid;
  grid-template-rows: auto;
}
.main__profile .main_profile > * {
  background-color: #7194c1;
}
.main__profile ul {
  list-style-type: none;
  color: white;
}
.main__profile li {
  list-style-type: none;
  color: white;
}
.main__profile .profile__banner {
  color: white;
  border: 1px solid gray;
  position: relative;
  height: 125px;
  border-top-left-radius: 60px;
}
.main__profile .profile__avatar {
  color: white;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  display: block;
}
.main__profile .profile__avatar__small {
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  display: block;
}
.main__profile #avatar__img {
  height: 120px;
  width: 120px;
}
.main__profile .profile__info {
  color: white;
}
.main__profile .profile__list {
  list-style-type: none;
}
.main__profile .profile__edit {
  color: white;
}
.main__profile .profile__followers {
  width: 100%;
  border: 1px solid gray;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: ". info follow .";
}
.main__profile .profile__info {
  color: white;
  grid-area: info;
}
.main__profile .profile__list {
  color: white;
}
.main__profile .profile__edit {
  color: white;
}
.main__profile .profile__follow {
  color: white;
  grid-area: follow;
}
.main__profile .profile__follow a {
  text-decoration: none;
  color: white;
}
.main__profile .profile__follow a:hover {
  color: black;
}
.main__profile .profile__feed {
  border: 1px solid gray;
}
.main__profile .profile__feed textarea {
  width: 60%;
  height: 100px;
  border: transparent;
  border-radius: 5px;
  padding: 5px;
}
.main__profile #small {
  height: 50px;
  width: 50px;
}
.main__profile .profile__avatar .post {
  height: 50px;
  width: 50px;
}
.main__profile .avatar__img .small {
  height: 50px;
  width: 50px;
}
.main__profile .feed__post {
  color: white;
  border: 1px solid gray;
  margin: 10px 0;
}
.main__profile .feed__post > div {
  margin: 10px 0 10px 30px;
}
.main__profile .feed__like {
  background-color: transparent;
  border: none;
  width: 10px;
  height: 10px;
}
.main__profile .feed__like:hover {
  color: white;
}
.main__profile .feed__post__msg {
  color: white;
}
.main__profile .feed__post__action {
  color: white;
}
.main__profile .feed__post__reaction {
  color: white;
}
.main__profile .feed__post__comment {
  color: white;
}
.main__profile .comment__btn {
  border: none;
  border-radius: 5px;
  height: 20px;
  width: 60px;
}
.main__profile .comment__btn:hover {
  background-color: transparent;
}

.login__header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login__header img {
  max-width: 100px;
  height: auto;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #7194c1;
  margin: auto;
  border-radius: 10px;
  max-width: 500px;
  padding: 20px;
}
form label {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  gap: 5px;
  margin: 20px 0;
}
form input {
  padding: 10px;
  border: none;
  border-radius: 10px;
}
form button {
  align-self: flex-end;
  height: 35px;
  width: 110px;
  border: none;
  border-radius: 10px;
  background-color: #002e6b;
  color: #e5eaef;
}
form h2 {
  margin: auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
}
footer img {
  max-width: 100px;
  height: auto;
}/*# sourceMappingURL=styles.css.map */