.navbar {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px;
  &__branding {
    display: flex;
    align-items: center;
    &-img {
      height: auto;
      max-width: 100px;
    }
  }
  h1 {
    color: getColour(bg-gray);
  }
}

.navbar__list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 1.4rem;

  .navbar__item {
    color: #eeeeee;
    display: flex;
    margin: 0 10px;
  }

  i {
    color: getColour(bg-gray);
    margin: 0 5px;
    height: auto;
    width: 25px;
  }
}
.navbar__searchbar {
  width: 100%;
  height: 40px;
  max-width: 400px;
  display: inline-flex;

  &-input {
    flex-grow: 1;
    padding: 15px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px 0 0 5px;
    &::placeholder {
      color: rgb(57, 57, 212);
    }
  }
  &-btn {
    outline: none;
    width: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    i {
      color: getColour(primary);
    }
  }
}
// ------------------------------------------

.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3 ease-in-out;
  background-color: #eeeeee;
}
@media screen and (max-width: 789px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navbar__list {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--dark);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .navbar__item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
}
