.navbar {
  min-height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  &__branding {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    img {
      height: auto;
      width: 100px;
    }
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
  &__link {
    font-size: 1.5rem;
    color: #fff;
    transition: 0.7s ease;
    display: flex;
  }
  i {
    font-size: 2rem;
    margin: 0 10px;
  }
  &__link:hover {
    color: red;
  }
}

.navbar__from {
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 10px 0 0 10px;
    font-size: 1.2rem;
    padding-left: 20px;
  }
  button {
    height: 40px;
    border: 2px solid getColour(bg-white);
    border-radius: 0 10px 10px 0;
    background-color: getColour(primary);
  }
  i {
    color: getColour(bg-gray);
  }
}

.hamburger {
  display: none;
  cursor: pointer;
  &__bar {
    display: block;
    width: 35px;
    height: 3px;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
    background-color: getColour(bg-gray);
  }
}

@media (max-width: 1100px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .hamburger__bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .hamburger__bar:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }
  .hamburger.active .hamburger__bar:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }
  .navbar__menu {
    position: fixed;
    left: -100%;
    top: 150px;
    gap: 0;
    flex-direction: column;
    background-color: getColour(primary);
    width: 100%;
    text-align: center;
    transition: 0.4s;
    &.active {
      left: 0;
    }
  }
  .navbar__item {
    margin: 20px 0;
  }
}
