.edit__form {
  display: none;
}
.show {
  display: block;
}

// dette er det nye for banner og avatar skrevet av albert
.main__profile {
  margin: auto;
  width: 100%;
  max-width: 800px;
}
.media__container {
  width: 100%;
  background-color: getColour(Light-blue);
  border-radius: 60px 10px 10px 10px;
  height: 150px;

  .avatar__image {
    position: absolute;
    max-width: 125px;
    height: auto;
    border-radius: 50%;
  }
  .banner__image {
    border-radius: 60px 10px 10px 10px;
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
}

.profile__edit {
  margin-top: 20px;
}

.edit__form input {
  padding-left: 10px;
  border: 1px solid getColour(Light-blue);
  height: 25px;
  border-radius: 10px;
}

.btn__edit,
.upt__btn {
  background-color: getColour(primary);
  color: getColour(bg-gray);
  width: 100px;
  height: 30px;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
}

.other__container--profile {
  width: 100%;
  background-color: getColour(Light-blue);
  border-radius: 60px 10px 10px 10px;
  height: 150px;
  .avatar__image {
    position: absolute;
    object-fit: cover;
    max-width: 125px;
    max-height: 125px;

    border-radius: 50%;
  }
  .banner__image {
    border-radius: 60px 10px 10px 10px;
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
}
.other__follows--container {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  button {
    background-color: getColour(primary);
    color: getColour(bg-gray);
    width: 100px;
    height: 30px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
  }
}
