.main__profile {
    background-color: getColour(Light-blue);
    margin: 20px 10% 20px;
    color: white;
    display: grid;
    grid-template-rows: auto;

    & ul {
        list-style-type: none;
        color: white;
    }
    & li {
        list-style-type: none;
        color: white;
    }

    // profile picture and banner

    & .profile__banner {
        color: white;
        border: 1px solid gray;
        position: relative;
    }

    & .profile__avatar {
        color: white;
        height: 120px;
        width: 120px;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        display: block;
        top: -10px;
    }
    & .profile__avatar__small {
        color: white;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: white;
        position: relative;
        display: block;
    }

    & #avatar__img {
        // position: absolute;
        height: 120px;
        width: 120px;
    }

    // profile

    & .profile__info {
        color: white;
    }

    & .profile__list {
        list-style-type: none;
    }
    & .profile__edit {
        color: white;
    }

    // Followers and settings
    & .profile__followers {
        width: 100%;
        border: 1px solid gray;
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: ". info follow .";
    }
    & .profile__info {
        color: white;
        grid-area: info;
    }
    & .profile__list {
        color: white;
    }
    & .profile__edit {
        color: white;
    }
    & .profile__follow {
        color: white;
        grid-area: follow;
    }
    & .profile__follow a {
        text-decoration: none;
        color: white;
    }
    & .profile__follow a:hover {
        color: black;
    }

    // feeds
    & .profile__feed {
        border: 1px solid gray;
    }
    & .profile__feed textarea {
        width: 60%;
        height: 100px;
        border: transparent;
        border-radius: 5px;
        padding: 5px;
    }
    & #small {
        height: 50px;
        width: 50px;
    }
    & .profile__avatar .post {
        height: 50px;
        width: 50px;
    }
    & .avatar__img .small {
        height: 50px;
        width: 50px;
    }
    // feed posts
    & .feed__post {
        color: white;
        border: 1px solid gray;
        margin: 10px 0;
    }
    & .feed__post > div {
        margin: 10px 0 10px 30px;
    }
    & .feed__like {
        background-color: transparent;
        border: none;
        width: 10px;
        height: 10px;
    }
    & .feed__like:hover {
        color: white;
    }
    & .feed__post__msg {
        color: white;
    }
    & .feed__post__action {
        color: white;
    }
    & .feed__post__reaction {
        color: white;
    }
    & .feed__post__comment {
        color: white;
    }
    & .comment__btn {
        border: none;
        border-radius: 5px;
        height: 20px;
        width: 60px;
    }
    & .comment__btn:hover {
        background-color: transparent;
    }
}
